/* Damos estilos generales con el selector universal */
*{
    margin: 0%;
    padding: 0%;
    font-family: 'Roboto Slab', serif;
}
div#container{
    display: grid;
    grid-template-columns: 50% 50%;  
}
/*Titulo de la vista*/
.titulo{
    font-size: 20px;
    grid-column-start: 1;
    grid-column-end: 4;
    margin-top: 30px;
    margin-bottom: 30px;
}
.icono{
    width: 48px; 
    height: 45px;
}
/*Letra del label del formulario*/
.letra{
    margin-left: 5%;
}
/*Input del formulario*/
input{
    display: block;
    width: 80%;
    margin-left: 5%;
    padding: 5px;
    background: #E0F4F7;
    border: none;
    border-bottom: 1px solid paleturquoise;
    border-radius: 3px;
    margin-bottom: 10px;
}
input[type="text"]{
color:black;
}
/*Botón del formulario*/
#boton{
    width: 25%;
    height: 30px;
    margin-left: 82%;
    margin-top: 5%;
    position: relative;
    border: 1px solid paleturquoise;
    border-radius: 3px;
	font-size: 19px;
	color: black;
    background: #80E2E7;
    padding-bottom: 5.3%;
    box-sizing: border-box;
}
#boton[type="submit"]{
    text-decoration: none;
    
}
#boton[type="submit"]:hover{
    cursor: pointer;
}