/* Damos estilos generales con el selector universal */
*{
    margin: 0%;
    padding: 0%;
    font-family: 'Roboto Slab', serif;
}
/*Div que contiene todo lo de la vista*/
div#container{
    display: grid;
    grid-template-columns: 100%;
}
/*Formulario*/
.solicitar_cita{
    margin:auto;
    margin-top: 80px;
    width: 30%;
    height: auto;
    border:1px solid black;
    border-radius: 5px;
    padding-left:20px;
    padding-right:20px;
    padding-top: 20px
}
/*Input del formulario*/
.solicitar_cita input{
    width: 100%;
    padding: 5px;
    font-size:15px;
    padding-left: 5px;
    border-radius: 5px;
    border:1px solid #80E2E7;
    margin-bottom: 5px;
    outline: none;
}
/*Select del formulario*/
.solicitar_cita select{
    width: 102%;
    padding: 5px;
    font-size:15px;
    padding-left: 5px;
    border-radius: 5px;
    border:1px solid #80E2E7;
    margin-bottom: 20px;
    outline: none;
}
/*Botón del formulario*/
.solicitar_cita button{
    width: 102%;
    padding: 5px;
    padding-left: 5px;
    border-radius: 5px;
    border:1px solid #80E2E7;
    color: black;
    margin-bottom: 20px;
    font-size:15px;
    background: none;
    outline: none;

}
.solicitar_cita button:hover{
    background: #80E2E7;
    color:  black;
}
